form {
    display: flex;
    flex-direction: column;
}

input {
    align-self: flex-end;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

label:first-child {
    margin-top: 15px;
}

button {
    background-color: #7f0708;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #a21c1d;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
}

.container {
    border: 0.8px solid black;
}